<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Here you will receive all the help you need.</p>
        </div>

        {{>footer}}
    </body>
</html>