<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}

        <script src="./js/sample.js"></script>
    </body>
</html>